# ignorer tous les fichiers par défaut
*

# ne pas ignorer les répertoires
!*/

# ne pas ignorer les fichiers avec extension
!*.*

# fichiers sans extension à ne pas ignorer
!Makefile
!makefile
!DoxyFile

# exceptions de fichiers avec extension à ignorer
*.o
*.log
*.aux
vgcore.*
*.out
*.synctex.gz
*.dvi


